@inject IDayLists listService
@inject NavigationManager navigate
@inherits ComponentBase

<h4>Edit List</h4>


<EditForm Model="@list" OnValidSubmit="Update" FormName="Starship3">
    <FluentValidationValidator />
    <div>
        <label for="List Name"> List Name </label>
        <br />
        <InputText @bind-Value="list.ListName" class="form-control" placeholder="Enter name" />
        <ValidationMessage For="@(() => list.ListName)" />
            <br />
        <label for="List Day"> List Day </label>
        <br />
        <InputDate @bind-Value="list.ListDay" class="form-control" placeholder="Enter email" />
        <ValidationMessage For="@(() => list.ListDay)" />
            <br />
        <button class="btn btn-success" type="submit">Update List</button>
    </div>
</EditForm>
<hr />

@code {

    [Parameter]
    public DayLists list{ get; set; }

    public async Task Update()
    {
        await listService.UpdateList(list);
        navigate.NavigateTo("/Lists", forceLoad: true);
    }
}
